<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Good Morning Message</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="message-box">
        <p class="greeting-text"><span class="greeting">Good morning</span>, <span class="name" data-value="Jennifer">Jennifer</span>.</p>
    </div>

    <script src="script.js"></script>
</body>
</html>