body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

.quarterly-goals {
    background-color: #fff;
    padding: 32px;
    border-radius: 12px;
    width: 387px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


h2 {
    font-size: 27.5px;
    font-weight: 400;
    color: #4B5853;
    margin: 0;
}

h3 {
    font-size: 22.5px;
    font-weight: 700;
    color: #4B5853;
    margin: 8px 0;
}

.edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.goal {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 21.04px;
    height: 21.06px;
    cursor: pointer;
}

.goal p {
    font-size: 16.25px;
    font-weight: 400;
    color: #5A5A5A;
    margin: 0;
}

.tag {
    display: block;
    font-size: 15px;
    margin-top: 5px;
}

.class-algorithms {
    color: #FFB987;
}

.apply-internships {
    color: #2DBDB1;
}

.interview-technical {
    color: #EE8B72;
}

.progress {
    font-size: 15px;
    font-weight: 400;
    color: #5A5A5A;
}

hr {
    border: 0;
    border-top: 1px solid #000000;
    opacity: 15%;
    margin: 15px 0;
}

.add-goal {
    font-size: 17.5px;
    font-weight: 400;
    color: #5A5A5A;
    cursor: pointer;
    text-align: left;
    margin-top: 10px;
}

.add-goal:hover {
    color: #4B5853;
}